{% extends "base.html" %}

{% block content %}
    <h3>Welcome back, {{ user.username }}</h3>
    <p><a href="{% url 'create_season' %}" class="btn btn-primary">Create a Season</a></p>
    <h4>Your Seasons</h4>
    {% if seasons %}
    <ul class="list-group mb-3">
        {% for season in seasons %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ season }}
            <a href="{% url 'season_detail' season.slug %}" class="btn btn-sm btn-outline-primary">View</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You haven't created any seasons yet.</p>
    {% endif %}

<a href="{% url 'create_season' %}" class="btn btn-success">Create New Season</a>

{% endblock %}