{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3>Welcome back, {{ user.username }}</h3>
    <h4>Your Seasons</h4>
    {% if seasons %}
    <ul class="list-group mb-3">
        {% for season in seasons %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ season }}
            <a href="{{ season.get_absolute_url }}" class="btn btn-sm btn-outline-primary">View</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>You haven't created any seasons yet.</p>
    {% endif %}
    <a href="{{ team.get_create_season_url }}" class="btn btn-primary">Create New Season</a>
</div>
{% endblock %}